<div class="footer bg-dark text-center sticky-bottom mt-auto">
    <div class="container">
        <!-- <span class="text-secondary">©YelpCamp 2023</span> -->
        <span class="text-secondary credit-text">Photo courtesy of <a class="credit-link-text" href="https://unsplash.com/@iamthedave">@iamthedave</a></span>
    </div>
</div>