<%layout ('layouts/simplified')%>
<div class="home-content-container container d-flex flex-column justify-content-center align-items-center h-100">
    <h3 class="home-content-welcome-text fs-2 fst-italic">Welcome to YelpCamp</h3>
    <p class="home-content-text fs-6">A whole world of adventure awaits. Find your next outdoor adventure today..</p>
    <button id="getStarted" class="btn btn-outline-light home-content-text mt-2"><a class="home-link-styling" href="/campgrounds">Get Started</a></button>
</div>