<%layout ('layouts/boilerplate-error')%>
<div class="container-fluid" id="error-page-background">
</div>
<div class="container d-flex flex-column justify-content-center align-items-center h-100" id="error-page-viewport">
    <p class="fs-3 m-1 secondary-error-text">500 Server Error</p>
    <p class="fs-1 text-light m-1">Uh-Oh..</p>
    <p class="fs-1 text-light m-1">We Seem To Have A Problem.</p>
    <p class="fs-5 secondary-error-text mt-4">Please try again, and contact us if this persists.</p>
</div>